!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "copyright", :content => "Copyright 2009 by Roundysoft" }
    %meta{ :name => "description", :content => "JibJob - Quick Resume Generator" }
    %title<= @title
    - ["reset", "main", "buttons"].each do |css|
      %link{ :rel => "stylesheet", :type => "text/css", 
             :href => "/css/#{css}.css", :media => "screen, projection" }
    - ["jquery", "app"].each do |js|
      %script{ :type => "text/javascript", :src => "/js/#{js}.js" }

  %body  
    #container.public
      = yield
    .preview_footer
      = powered_link