#header
  %a.logo{:title => "JibJob", :href => "/"}
    %h1 JibJob
  %p.sub Quick Resume Generator
  %ul
    %li
    - if session[:user]
      %li
        %a{:href => "/resumes"} My Resumes
        #{unread_messages_count(current_user)}
      %li
        %a{:href => "/account"} My Account
      %li
        %a{:href => "/logout"} Log out