- @title = "JibJob - Privacy Guidelines"
.content
  %h1 Privacy Guidelines
  %p
    %ul.bullet
      %li E-mails are used for authentication and application notification only.
      %li E-mails and personal information are never sold or provided to third-parties.