- @title = "JibJob - Welcome"
.content
  .welcome_screen
    %h1 Registration Successful
    %br
    %h3 Welcome to JibJob
    %p
      You are now logged in.
    %ul
      %li
        %a{:href => "/help/resume"} About making resumes on JibJob
      %li
        %a{:href => "/resumes/new"} Create your first resume