:development:
  :db:
    :adapter: mysql
    :database:
    :username:
    :host:
  :cookie_domain: 
  :cookie_secret: 
  :email:
    :noreply: no-reply@local
  :recaptcha:
    :public_key:
    :private_key:
  
:test:
  :db:
    :adapter: mysql
    :database:
    :username:
    :host:
  :cookie_domain: 
  :cookie_secret:
  :email:
    :noreply: no-reply@local
  :recaptcha:
    :public_key:
    :private_key:
  
:production:
  :db:
    :adapter: mysql
    :database:
    :host:
    :username: 
    :password: 
  :cookie_domain: 
  :cookie_secret: 
  :email:
    :noreply: no-reply@local
  :recaptcha:
    :public_key:
    :private_key: