#header
  .ribbon
  %a.logo{:title => "JibJob", :href => "/"}
    %h1 JibJob
  %p.sub The résumé distribution center
  %ul
    %li
      %a{:href => "/"} Home
    - unless session[:user]
      %li
        %a{:href => "/register"} Register
    - if session[:user]
      %li
        %a{:href => "/resumes"} My Resumes
        #{unread_messages_count(current_user)}
      %li
        %a{:href => "/account"} My Account