.content
  %h1 About
  %ol
    %li What is JibJob?
    %li Where can I get the source code?
    %li Can I search the database for specific candidates?
    %li How is my privacy guarded?
    %li Who can I ask for technical questions?