- @title = "JibJob - Home"
.content
  .frontpage
    .section
      %h1 What is JibJob?
      %p
        JibJob is an online resume document generator. It is a simple service that 
        lets you compose your resumes using plain text and generate a PDF file or 
        a formatted text version. Click here to view a sample generated resume.
    
    .section
      %h3 Resume Text Format
      %p
        Resume text format allows you to create resumes in plain text. There is no
        need to format documents in word processors. Your resume data can be then 
        transformed into different formats like HTML pages and PDF documents.
