.content.centered
  %h1
    Welcome to JibJob, where resume submission is quick and easy.
  %h4
    Write your resumes in plain text and automatically format them, and
    package them in different formats.
  %p
    JibJob is your most useful companion in distributing your resumes online and
    offline.

.content
  %h3.head Resume Text Format
  .para
    Resume text format allows you to create resumes in plain text. There is no
    need to format documents in word processors. Your resume data can be then 
    transformed into different formats like HTML pages and PDF documents.

  %h3.head Create Quick Resumes
  .para
    JibJob allows you to create up to ten (10) resume documents. This lets you
    submit different versions of your resume for different job applications.
  
  %h3.head Make your resume available online
  .para
    Your resume is hosted online and has its own URL. You can send this URL to
    potential employers to view your online resume or download a PDF version.
  
  %h3.head Private Documents
  .para
    JibJob is not a resume search engine. Resume documents can only be viewed
    directly through its own URL. Users can also set an access code to specific
    resumes.
  