- @title = "JibJob - Register"
.content
  %h1 Register
  
  = error_messages_for @user
  
  %form.screenform{:action => "/register", :method => "POST"}
    %fieldset
      %ol
        %li
          %label{:for => "user_username"} Username:
          .marker Required
          .desc 5-30 alphanumeric characters / underscore. No spaces.
          %input#user_username.text{:type => "text", :size => 30, :maxlength => 50, :name => "user[username]", :value => @user.username}
        %li
          %label{:for => "user_email"} E-mail:
          .marker Required
          %input#user_email.text{:type => "text", :size => 30, :maxlength => 50, :name => "user[email]", :value => @user.email}
        %li
          %label{:for => "user_password"} Password:
          .marker Required
          .desc Should be at least 6 characters.
          %input#user_password.text{:type => "password", :size => 30, :name => "user[password]"}
        %li
          %label{:for => "user_password_confirmation"} Confirm Password:
          .marker Required
          .desc Enter the password again
          %input#user_password.text{:type => "password", :size => 30, :name => "user[password_confirmation]"}
        %li
          %label{:for => "agreed_terms"} Agree to Terms of Service
          .marker Required
          .desc I agree to the <a href="/terms">terms of service</a> of this website
          %input#agreed_terms{:type => "checkbox", :name => "user[agreed_terms]", :checked => @user.agreed_terms || nil}
          %label.side{:for => "agreed_terms"} Yes, I agree.
    %fieldset
      %div{:style => "margin-left:18px"}
        %h4 Type the two words below:
        = recaptcha_tags :display => { :theme => "clean" }
    %fieldset.submit
      %input{:type => "submit", :value => "Submit"}
.clear
:javascript
  $(document).ready(function(){
    $("#user_username").focus();
  });