.content
  %div
    %h1 Header
    %p
      The header contains the name and the contact information that 
      appears on top of the resume.

  %div
    %h1 Sections
    %p
      Sections are the main areas of the resume
    
    %h1 Paragraph
    %p
      Sections can begin with a paragraph.
  
    %h1 Periods
    %p
      Periods have a name, organization, location, dates, and items
    
    %h1 Items
    %p
      Items are invidivudal bulleted text. They can also be placed directly
      under a section.