- @title = h "Access Resume"
.access_screen
  %form{:action => "/access/#{@resume.slug}", :method => 'POST'}
    %input{:type => "hidden", :name => "format", :value => @format}
    - if @resume.requires_access_code?
      %fieldset
        %h1 An access code is required to view this document.
        %label{:for => "access_code"} Access Code:
        %input#access_code{:type => "text", :name => "access_code"}
    %fieldset
      %div{:style => "margin-top:30px;"}
      %h3 Type the two words below:
      %div{:style => "margin:0 auto; width: 450px"}
        = recaptcha_tags :display => { :theme => "clean" }
    %fieldset
      %input.submit{:type => "submit", :value => "Submit"}

:javascript
  $(document).ready(function(){
    $("#access_code").focus();
  });