- @title = "New Resume"
.header
  %ul.toolbar
  .title New Resume
  
.content
  = error_messages_for @resume
  
  %form.screenform{:action => "/resumes", :method => "post"}
    = haml("resumes/_form".to_sym, :layout => false)