.header
  %ul.toolbar
    %li
      %a{:href => "/resumes"} « Return
  %h1 New Resume
  
.content
  = error_messages_for @resume
  
  %form.screenform{:action => "/resumes", :method => "post"}
    %fieldset
      %ol
        %li
          %label{:for => "resume_name"} Name:
          .marker Required
          .desc Name of this resume
          %input#resume_name.text{:type => "text", :size => 40, :name => "resume[name]", :value => @resume.name, :maxlength => 50}
        %li
          %label{:for => "resume_slug"} Friendly Name:
          .marker Required
          .desc A URL friendy name (e.g. paul-web-developer)
          %input#resume_slug.text{:type => "text", :size => 40, :name => "resume[slug]", :value => @resume.slug, :maxlength => 50}
        %li
          %label{:for => "resume_access_code"} Access Code:
          .marker.optional Optional
          .desc Access code to view this resume in public
          %input#access_code.text{:type => "text", :size => 12, :name => "resume[access_code]", :value => @resume.access_code, :maxlength => 12}
        %li
          %label{:for => "resume_content"} Content:
          .marker Required
          .desc The resume contents
          = find_and_preserve do
            %textarea#resume_content{:name => "resume[content]", :cols => 90, :rows => 25}
              = @resume.content
    %fieldset.submit
      %input{:type => "submit", :value => "Submit"}
:javascript
  $(document).ready(function(){
    $("#resume_name").focus();
  });