.content
  %form{:action => "/receive", :method => "POST"}
    = find_and_preserve do
      %textarea#mail{:name => "mail", :cols => 90, :rows => 25, :style => "font-family:monaco;"}
    %br
    %input{:type => "submit"}
  - if @mail
    From: #{@mail.from}
    %br
    To: #{@mail.to}
    %br
    Subject: #{@mail.subject}